@page
@model Login.IndexModel
@{
}
@section Styles{
    <link href="css/pages/login.css" rel="stylesheet" asp-append-version="true" />
}
@section Scripts{
    <script src="js/pages/login.js" asp-append-version="true"></script>
}


<div class="container">
    <section id="content">
        <form asp-antiforgery="true" onsubmit="return false;">
            <h1>Login Form</h1>
          
            <div>
                <input type="text" asp-for="@Model.LoginModel.UserName" placeholder="Username" name="UserName" required="" id="txtUserName" />
            </div>
            <div>
                <input type="password" asp-for="@Model.LoginModel.Password" placeholder="Password" name="Password" required="" id="txtPassword" />
            </div>
            <div>
                <input type="text" asp-for="@Model.LoginModel.Tenant" placeholder="Tenant Code" name="Tenant" required="" id="txtTenant" />
            </div>
            <div>
                <input type="submit" id="btnLogin" value="Log in" />
                <a href="#">Lost your password?</a>
            </div>
        </form>

    </section><!-- content -->
</div><!-- container -->