@font-face{
    font-family: myfont;
    src: url('/css/fonts/Cairo-Regular.ttf');
}
html {
    font-size: 14px;

}
*:not(span,i) {
    font-family: 'myfont' !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar {
    background-color: #3a526a !important;
}

.navbar a {
    color: white !important;
    font-size: 1.2rem;
}

.navbar .dropdown-item {
    color: black !important;
    font-size: 0.9rem;
}
.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.display-7 {
    font-size: calc(1rem + 0.5vw);
    font-weight: 200;
    line-height: 1.2;
}
.dropdown-menu[data-bs-popper] {
    left: auto !important;
    right: auto;
    z-index: 9999999;
    top: 70px;
}
.viewfile {
    position: absolute;
    font-size: xxx-large;
    z-index: 99999;
    margin-inline: 5%;
}
table.dataTable th{
    text-align: center !important;
}
.sub-menu-icon {
    position: absolute;
    right: 5px;
    margin-top: -10px;
}