@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Scripts {
    <script src="js/pages/index.js" asp-append-version="true"></script>
}

<div class="text-center">
    <h1 class="display-4">@_L["Welcome"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
